# Ignore node_modules in root directory
/node_modules/

# Ignore node_modules in frontend directory
/frontend/node_modules/

# Ignore log files
*.log

# Ignore build directory if exists
build/

# Ignore environment variable files
.env

# Ignore Mac system files
.DS_Store

# Ignore Windows system files
Thumbs.db